{% extends "ShopBackOfficeBundle::layout.html.twig" %}

{% block shop_content_body %}

    <section>
        <div class="container-sm center-block">
            {% if form.vars.valid == false %}
                <div class="alert alert-danger" role="alert">
                    {{ form_errors(form.ref) }}
                    {{ form_errors(form.name) }}
                    {{ form_errors(form.description) }}
                    {{ form_errors(form.price) }}
                </div>
            {% endif %}
            {% if form.vars.submitted == true and form.vars.valid == true %}
                <div class="alert alert-success" role="alert">
                    Votre Produit a été enregistré avec succès
                </div>
            {% endif %}
            <form class="form-horizontal well" role="form" method="post" {{ form_enctype(form) }}>
                {{ form_errors(form) }}

                <div class="form-group">
                    {{ form_label(form.ref, 'Référence *', { 'label_attr': {'class': 'control-label col-sm-4'} }) }}
                    <div class="col-sm-4">
                        {{ form_widget(form.ref,{'attr':{'class':'form-control'} }) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.name, 'Nom *', { 'label_attr': {'class': 'control-label col-sm-4'} }) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.name,{'attr':{'class':'form-control'} }) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.description, 'Description *', { 'label_attr': {'class': 'control-label col-sm-4'} }) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.description,{'attr':{'class':'form-control'} }) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.price, 'Prix *', { 'label_attr': {'class': 'control-label col-sm-4'} }) }}
                    <div class="col-sm-3">
                        <div class="input-group">
                            {{ form_widget(form.price,{'attr':{'class':'form-control'} }) }}
                            <span class="input-group-addon">€</span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.file, 'Image', { 'label_attr': {'class': 'control-label col-sm-4'} }) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.file,{'attr':{'class':'hidden'} }) }}
                        <div class="input-group" onclick="$('#form_file').click();">
                            <input id="image_product" type="text" class="form-control" disabled>
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button"><i class="glyphicon glyphicon-folder-open"></i> Fichier...</button>
                            </span>
                        </div>
                        <script type="text/javascript">
                            $('#form_file').change(function() {
                                $('#image_product').val($(this).val());
                            });
                        </script>
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.active, 'En ligne', { 'label_attr': {'class': 'control-label col-sm-4'} }) }}
                    <div class="col-sm-4">
                        {{ form_widget(form.active,{'attr':{'class':'form-control'} }) }}
                    </div>
                </div>


                {{ form_rest(form) }}

                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <button type="submit" name="save" id="save" class="btn btn-default">Valider</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}